//- base.pug, its basic page , main template 
doctype html
html
  head
    title ErMapsh Esport Acedamy
    block scripts
    block style 
  body
    nav#navbar.top 
     ul
      li #[a(href='https://pugjs.org/api/getting-started.html' target= "_blank") Pug Document] 
      li #[a(href='/contactus' method='post') Contact us]
      li #[a(href='/') Own]
      li #[a(href='https://html-to-pug.com' target= "_blank") HtmlToPug]
      li #[a(href='https://codewithharry.com/' target= "_blank") CodeWithHarry]
    block content
    footer 
      h2 Copyrighted © 2021 ErMapsh.com | All rights reserved 